

<table>
  <thead>
    <tr>
      <th>Secret</th>
      <th>#likes</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>

    <% @secrets.each do|secret| %>
    <tr>
      <td><%=secret.description%></td>
      <td><%=secret.likes.count%>likes</td>
      <td>
        <% if secret.user_id == session[:user_id]%>
          <form action="/delete/<%=secret.id%>" method="post">
            <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
            <button type="submit">Delete</button>
          </form>
        <%else%>
          <% if Like.where(user_id:session[:user_id], secret_id:secret.id).empty? %>
            <form  action="/like/<%=secret.id%>" method="post">
              <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
              <button style="border:3px solid green; color:green;" type="submit" name="button">Like</button>
            </form>
            <%else%>
              <form  action="/unlike/<%=secret.id%>" method="post">
                <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
                <button style="border:3px solid red; color:red;" type="submit" name="button">Unlike</button>
              </form>
            <%end%>
        <%end%>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
